<div class="container-fluid">

  <div class="row">

    <app-card titulo="Principal cursos em desenvolvimento para Front-End">

      <div class="row">
        <div class="col-md-3">

          <app-card titulo="HTML5">

            <div class="centralizar">
                <app-foto imagem="html5.png" titulo="HTML5" classe="tamanhoImagem"></app-foto>
            </div>

            <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque, arcu et convallis elementum, nisi
              ligula interdum arcu, ut vestibulum leo odio a nulla. Sed fermentum iaculis purus nec tempor. Donec mauris
              purus, pretium at mollis eleifend, pretium vitae velit. </p>

            <div class="centralizar">

              <BUtton type="button" class="btn btn-warning" routerLink="/cursoHTML5"  >
                Matricule-se
              </BUtton>

            </div>

          </app-card>
        </div>
        <div class="col-md-3">

          <app-card titulo="ANGULAR">


            <div class="centralizar">
                <app-foto imagem="angular.png" titulo="ANGULAR" classe="tamanhoImagem"></app-foto>
            </div>

            <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque, arcu et convallis elementum, nisi
              ligula interdum arcu, ut vestibulum leo odio a nulla. Sed fermentum iaculis purus nec tempor. Donec mauris
              purus, pretium at mollis eleifend, pretium vitae velit. </p>


            <div class="centralizar">

              <BUtton type="button" class="btn btn-danger" routerLink="/cursoANGULAR"  >
                Matricule-se
              </BUtton>

            </div>

          </app-card>

        </div>
        <div class="col-md-3">

          <app-card titulo="JS">

            <div class="centralizar">
                <app-foto imagem="js.png" titulo="JavaScript" classe="tamanhoImagem"></app-foto>
            </div>

            <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque, arcu et convallis elementum, nisi
              ligula interdum arcu, ut vestibulum leo odio a nulla. Sed fermentum iaculis purus nec tempor. Donec mauris
              purus, pretium at mollis eleifend, pretium vitae velit. </p>

            <div class="centralizar">

              <BUtton type="button" class="btn btn-warning" routerLink="/cursoJS" >
                Matricule-se
              </BUtton>

            </div>

          </app-card>

        </div>
        <div class="col-md-3">

          <app-card titulo="NODE.JS">

            <div class="centralizar">
           <app-foto imagem="node.png" titulo="NODE.JS" classe="tamanhoImagem"></app-foto>
          </div>

            <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque, arcu et convallis elementum, nisi
              ligula interdum arcu, ut vestibulum leo odio a nulla. Sed fermentum iaculis purus nec tempor. Donec mauris
              purus, pretium at mollis eleifend, pretium vitae velit. </p>

            <div class="centralizar">

              <BUtton type="button" class="btn btn-success " routerLink="/cursoNODE"  >
                Matricule-se
              </BUtton>

            </div>

          </app-card>
        </div>
      </div>

    </app-card>
  </div>
</div>
