<div class="container-fluid">
  <nav class="navbar bg-dark navbar-dark navbar-expand-md col-md-12">
    <a href="" routerLink="principal" class="navbar-brand">
      <i class="fa fa-home"> home </i>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#barranav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="barranav" class="collapse navbar-collapse">
      <div class="conteriner-fuid">
        <div class="row">
          <ul class="navbar-nav col-md-6">
            <li>
              <a href="#" class="nav-link">Cursos</a>
            </li>
            <li>
              <a href="#" class="nav-link">Carreiras</a>
            </li>
            <li>
              <a href="#" class="nav-link">Empresas </a>
            </li>
            <li>
              <a href="#" class="nav-link">Parceiros</a>
            </li>
          </ul>



          <form action="" method="GET" class="col-md-2">
            <div class="row">
              <input type="text" name="" id="" placeholder="Procurar... " class="form-control col-md-9">
              <button type="submit" class="btn btn-secondary col-md-3">
                <i class="fa fa-search"></i>
              </button>
            </div>


          </form>
          <div class="col-md-4">
            <button type="button" class="btn btn-info" routerLink="cadastro">
              Matricule-se
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"routerLink="login">
              Login
            </button>
          </div>

        </div>

      </div>

    </div>

  </nav>


</div>
