<div class="card text-center">

  <div class="card-header">

    <app-card titulo=" Curso de HTML5 ">


      <div class="card ">
        <div class="centralizar">
          <app-foto imagem="cursoHTML5.png" titulo="HTML5" classe="img-fluid"></app-foto>
        </div>
        <div class="card-body">

          <div class="curso-info">

            <h1>

              Curso de HTML5
            </h1>
            <p >
              Neste curso de HTML 5 veremos o que desenvolvimento da linguagem HTML (HyperText Markup Language) ficou parada na versão
              4 desde 1999. Durante esse período, a W3C se focou em linguagens como XML (Extensible Markup Language) e SVG
              (Scalable Vector Graphics - gráficos vetoriais em navegadores). E do outro lado, os desenvolvedores dos navegadores
              ficaram focados em melhorar suas funcionalidades, como exibir páginas em abas, melhorar performance e oferecer
              a integração com leitores de RSS. Porém, recentemente organizações como Apple, Mozilla Foundation e Opera se
              uniram a W3C para atualizar o HTML e implementar nele novas funcionalidades. O que vamos ver durante o curso
              é que o HTML 5 está fortemente relacionado a web semântica, ou seja, o conteúdo das páginas HTML 5 utilizam
              novos elementos que descrevem com muito mais precisão e organização o conteúdo das páginas HTML. Entre as principais
              novidades do HTML 5 temos os novos elementos de estrutura (header, footer, section, article, nav e aside),
              temos novos elementos para inserir áudio e vídeo diretamente no HTML (audio e video), temos uma API gráfica
              para renderizar imagens 2D (canvas), temos elementos para data/hora e medida (time e meter), temos elementos
              para inserir um diálogo e figuras com legenda (figure, dialog, dt e dd), temos suporte mais amplo as páginas
              em modo offline, etc
            </p>
          </div>
          
        </div>
      </div>
    </app-card>
  </div>
</div>