<div class="card text-center">

    <div class="card-header">
  
      <app-card titulo=" Curso NodeJS ">
  
  
        <div class="card ">
          <div class="centralizar">
            <app-foto imagem="cursoNODE.png" titulo="NodeJS" classe="img-fluid"></app-foto>
          </div>
          <div class="card-body">
  
            <div class="curso-info">
  
              <h1>
  
                Curso NodeJS
              </h1>
              <p>
                Curso de Angular 4 - Construindo Aplicações Web com o Novo Angular. Neste curso, você vai aplicar os fundamentos da nova
                versão do Angular para construir uma aplicação frontend de delivery de comida, que eu chamei de MEAT. A aplicação
                usa como base o Bootstrap e o template open-source AdminLTE para que você seja apresentado a uma aplicação
                visualmente próxima das aplicações de mercado. O MEAT será construído usando os principais recursos do Angular
                como componentes, diretivas e pipes. Você vai aprender a consumir uma API REST usando serviços do framework
                e conhecer as duas estratégias para implementação de formulários, que são Template Forms e Reactive forms.
                Você não vai ficar só no básico. Vou te mostrar como implementar componentes de formulário e integrá-los com
                as diretivas do Angular. Você também vai aprender a dividir sua aplicação em módulos e configurá-los para carregamento
                tardio. Ainda dentro dos tópicos, falaremos sobre Reactive Programming e da integração do Angular com a biblioteca
                RxJS. O curso também contém uma introdução ao Typescript com os principais pontos para você tirar o melhor
                proveito do Angular.
              </p>
            </div>
  
          </div>
        </div>
      </app-card>
    </div>
  </div>
