<div class="container">

  <table class="table table-striped">

    <thead>
<tr>
  <th>ID</th>
  <th>Nome</th>
  <th>Genero</th>
  <th>CPF</th>
  <th>EMAIL</th>
</tr>

    </thead>

    <tbody>
      <tr *ngFor="let dado of dados"> 
        <td>{{dado.id}}</td>
        <td>{{dado.nome}}</td>
        <td>{{dado.genero}}</td>
        <td>{{dado.cpf}}</td>
        <td>{{dado.email}}</td>
        <td>
          <a [routerLink]="['/cadastro', dado.id]"  class="btn btn-light"><i class="fa fa-wpforms"></i> </a>
          <a class="btn btn-light"><i class="fa fa-trash"></i> </a>
        </td>
      </tr>

    </tbody>

  </table>

</div>
